* {
    font-family: 'Kufam', cursive;
    font-weight: 500;
}

.button {
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 12px;
    text-align: center;
    border: 2px solid transparent;
    width: fit-content;
    height: fit-content;
    transition: 0.3s;
    color:white
}

.button.config {
    background-color: gray;
}

.button.config:hover {
    background-color: white;
    color: gray;
    border: 2px solid gray;
    transition: 0.3s;
}

.button.confirm {
    background-color: #9FD39C;
}

.button.confirm:hover {
    background-color: white;
    color: #9FD39C;
    border: 2px solid #9FD39C;
    transition: 0.3s;
}

.button.new {
    background-color: #2B918A;
}

.button.new:hover {
    background-color: white;
    color: #2B918A;
    border: 2px solid #2B918A;
    transition: 0.3s;
}

.button.reject {
    background-color: red;
}

.button.reject:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
    transition: 0.3s;
}