html, body, .viewport {
    width: 100%;
    min-height: 100% !important;
    height: 100%;
    margin: 0;
  }

* {
    font-family: 'Kufam', cursive;
    font-weight: 500;
}

*::selection {
    color:#2B6535;
    background: #0AC9B0;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    background-color: #2B6535;
    margin-top  : 0px;
    padding: 20px 20px;

    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar .title {
    width: fit-content;
    background-color: gray;

    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 8px;

    font-family: 'Fira Code';
    font-size: 24px;
}

.project {
    display: flex;
    height: 100%;
}

.project .left-side {
    width: 70%;
}

.project .right-side {
    width: 30%;
    justify-content: center;
    align-items: center;
}